{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}

<h2>👋 Welcome, {{ session.username }}</h2>

<div class="card" style="margin-bottom:20px;">
    <h3>🎯 Trade Smarter. Risk Better.</h3>
    <p>Welcome back to TradeGuard.</p>
</div>

<!-- QUICK STATS -->
<div class="cards">

    <div class="card">
        <h3>Total Trades</h3>
        <p>{{ total_trades }}</p>
    </div>

    <div class="card">
        <h3>Win Rate</h3>
        <p>{{ win_rate }}%</p>
    </div>

    <div class="card">
        <h3>Current Plan</h3>
        <p>{{ plan }}</p>
    </div>

</div>

<br>

<div class="cards">

    <div class="card">
        <h3>📊 Monthly Stats</h3>
        <p>Track your performance</p>
        <a href="/monthly" class="card-btn">Open Dashboard</a>
    </div>

    <div class="card">
        <h3>📒 Journal</h3>
        <p>View your trades</p>
        <a href="/journal" class="card-btn">View Trades</a>
    </div>

    <div class="card">
        <h3>⚖️ Risk Tool</h3>
        <p>Manage your risk</p>
       <a href="/risk" class="card-btn">Calculate Risk</a>
    </div>

    <div class="card">
        <h3>💬 Feedback</h3>
        <p>Tell us what to improve</p>
        <a href="/feedback" class="card-btn">Provide Feedback</a>
    </div>

    <div class="card">
        <h3>💎 Upgrade</h3>
        <p>Unlock premium features</p>
        <a href="/upgrade" class="card-btn">Go Pro</a>
    </div>

</div>

{% endblock %}