<!DOCTYPE html>
<html>
<head>
    <title>TradeGuard</title>
</head>
<body style="font-family:Arial; text-align:center; margin-top:100px; background:#111; color:white;">
    
   <a href="/login">Login</a> |
   <a href="/register">Register</a> |
   <a href="/logout">Logout</a>
   <hr>

    <h1>TradeGuard</h1>
    <p>Professional Risk Management System</p>

    <a href="/risk">
        <button style="padding:12px 25px; font-size:16px;">
            Open Risk Calculator
        </button>
    </a>

</body>
</html>
