{% extends "base.html" %}

{% block title %}Upgrade{% endblock %}

{% block content %}

<div class="upgrade-container">

    <div class="upgrade-card">

        <h1>Upgrade to Pro</h1>

        <p class="subtitle">
            Unlock advanced analytics, unlimited tracking,
            monthly dashboards and future AI features.
        </p>

        <div class="price-box">
            <h2>$10<span>/month</span></h2>
            <p>3-day free trial included</p>
        </div>

        <ul class="features">
            <li>✅ Monthly Dashboard</li>
            <li>✅ Advanced Analytics</li>
            <li>✅ Unlimited Journal Entries</li>
            <li>✅ Future AI Trade Insights</li>
            <li>✅ Priority Features</li>
        </ul>

       <button class="upgrade-btn" onclick="openCheckout()">
           Upgrade Now
       </button>

    </div>

</div>

<!-- PADDLE -->

<script src="https://cdn.paddle.com/paddle/v2/paddle.js"></script>

<script>

// SANDBOX MODE
Paddle.Environment.set("sandbox");

Paddle.Initialize({
    token: "test_40da1a2f7ceb60e597f5726230f"
});

console.log("Paddle Sandbox Loaded");
console.log(Paddle);

function openCheckout() {

    try {

       Paddle.Checkout.open({

           settings: {
               displayMode: "inline",
               theme: "dark"
            },

            items: [
                {
                    priceId: "pri_01kry2a2v5mjxpgzmyh8afd011",
                    quantity: 1
                }
            ]

        });

    } catch(error) {

        console.log("PADDLE ERROR:", error);

    }

}

</script>

<style>

.upgrade-container{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:80vh;
}

.upgrade-card{
    width:400px;
    background:rgba(255,255,255,0.05);
    backdrop-filter:blur(10px);
    border-radius:20px;
    padding:40px;
    text-align:center;
    box-shadow:0 0 25px rgba(0,0,0,0.3);
}

.upgrade-card h1{
    color:#38bdf8;
    font-size:38px;
    margin-bottom:10px;
}

.subtitle{
    color:#cbd5e1;
    margin-bottom:30px;
    line-height:1.6;
}

.price-box{
    margin-bottom:30px;
}

.price-box h2{
    font-size:50px;
    margin:0;
}

.price-box span{
    font-size:20px;
    color:#94a3b8;
}

.price-box p{
    color:#22c55e;
}

.features{
    list-style:none;
    padding:0;
    text-align:left;
    margin-bottom:30px;
}

.features li{
    margin:15px 0;
    font-size:16px;
}

.upgrade-btn{
    width:100%;
    padding:15px;
    border:none;
    border-radius:12px;
    background:#38bdf8;
    color:black;
    font-size:18px;
    font-weight:bold;
    cursor:pointer;
    transition:0.3s;
}

.upgrade-btn:hover{
    background:#0ea5e9;
    transform:scale(1.03);
}

@media(max-width:768px){

    .upgrade-card{
        width:90%;
        padding:30px 20px;
    }

    .price-box h2{
        font-size:40px;
    }

}

</style>

{% endblock %}